<div class="col-md-4">
    <div class="card mb-4">
        <img class="card-img-top"
             src="{% if recipe.image %}{{ recipe.image.url }}{% else %}https://via.placeholder.com/286x180{% endif %}"
             alt="{{ recipe.name | title }}">
        <div class="card-body">
            <h3 class="card-title">{{ recipe.name | title }}</h3>
            <p class="card-text">Author: {{ recipe.user.username }}</p>
            <p class="card-text">{{ recipe.ingredients }}</p>
            <p class="card-text">
                Country: {{ recipe.country.name }} <i class="{{ recipe.country.flag_css }}"></i>
            </p>
            <a href="{% url 'recipes:detail' pk=recipe.pk %}"
               class="btn btn-primary"><i class="fa-solid fa-circle-info"></i> See Full Recipe</a>
        </div>
    </div>
</div>
