{% extends 'base.html' %}
{% block title %}{{ recipe.name | title }}{% endblock %}
{% block content %}
    <h2 class="mb-4">{{ recipe.name | title }}</h2>
    <div class="card">
        <div class="card-body">
            <img src="https://via.placeholder.com/286x180"
                 class="img-fluid"
                 alt="{{ recipe.title }}">
            <p class="card-text">Author: {{ recipe.user.username }}</p>
            <p class="card-text">
                Country: {{ recipe.country.name }} <i class="{{ recipe.country.flag_css }}"></i>
            </p>
            <p class="card-text">Ingredients: {{ recipe.ingredients }}</p>
            <p class="card-text">Servings: {{ recipe.servings }}</p>
            <p class="card-text">Created: {{ recipe.created_at }}</p>
            <p class="card-text">Instructions: {{ recipe.method }}</p>
            <p class="card-text">Cooking Time: {{ recipe.cook_duration_minutes }} minutes</p>
            <a href="" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete</a>
            <a href="" class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
        </div>
    </div>
{% endblock %}
