{% extends "base.html" %}
{% block title %}
    Recipe List
{% endblock title %}
{% block content %}
    <h2 class="mb-4">Recipe List</h2>
    <div class="alert alert-info" role="alert">
        <small>Found {{ recipes_count }} recipes.</small>
    </div>
    {% include "partials/recipe_search_bar.html" %}
    <div class="row mt-4">
        {% if object_list %}
            {% for recipe in object_list %}
                {% include "partials/recipe_item.html" with recipe=recipe %}
            {% endfor %}
            {% include "partials/pagination.html" %}
        {% else %}
            <div class="alert alert-warning" role="alert">
                No recipe is available at the moment. Please wait for others
                to create new recipes or try to add new ones your self.
            </div>
        {% endif %}
    </div>
{% endblock content %}
